<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!-- JERARQUÍA COMERCIAL -->
  <add key="JerarquiaComercial"  value="000.61" />
  <add key="Jerarquia"           value="000.61" />
  <!-- PRESUPUESTO -->
  <add key="Presupuesto"        value="000.20" />
  <add key="Ejecucion"          value="000.20" />
  <!-- CONCURSOS -->
  <add key="Concursos"          value="000.30" />
  
  <add key="CompaniaxEtapa"     value="000.30" />
  <add key="Condicion"          value="000.30" />
  <add key="ParticipanteConcurso"     value="000.30,000.61" />
  <add key="Premio"             value="000.30" />
  <add key="PremioxSubRegla"    value="000.30" />
  <add key="Etapaproducto"      value="000.30" />
  <add key="CompaniaxEtapa"     value="000.30" />
  <add key="ProductoConcurso"   value="000.30" />
  <add key="Regla"              value="000.30" />
  <add key="SubRegla"           value="000.30" />
  <add key="TopeMoneda"         value="000.30" />
  <add key="EtapaProducto"      value="000.30" />
  <add key="CompaniaxEtapa"     value="000.30" />
  <add key="CondicionAgrupada"  value="000.30" />
  <add key="PersistenciaEsperada"  value="000.30" />
  <add key="SiniestralidadEsperada"  value="000.30" />
  <add key="MaestroMonedaxnegocio"  value="000.30" />
  <add key="MonedaxNegocio"       value="000.30" />
  <add key="TopexEdad"            value="000.30" />
  <add key="LiquidacionConcurso"  value="000.30" />
  <add key="LiquidacionMoneda"    value="000.30" />
  <add key="ResumenConcurso"    value="000.30" />
  <add key="ReglaxConceptoDescuento"    value="000.30" />
  <add key="CategoriaxRegla"    value="000.30" />
  <add key="CondicionxPremioSubRegla" value="000.30"/>
  <!-- CONTRATACIÓN-->
  <add key="Contratacion"       value="000.40" />
  <add key="Modelo"             value="000.40,000.61"/>
  <add key="LiquidacionContrat" value="000.40" />
  <!-- FRANQUICIAS-->
  <add key="LiquidacionFranqui" value="000.50" />
  <add key="ParticipacionFranquicias" value="000.50" />
  <add key="AnticiposFranquicias" value="000.50" />
  <add key="Excepciones"        value="000.50" />
  <add key="DetallePartFranquicia" value="000.50" />
  <add key="Franquicias"        value="000.50" />
  <add key="RptFranquicias"     value="000.50" />
  <!-- REPORTES-->
  <add key="Reportes"           value="000.60" />
  <add key="ReportesSAI"        value="000.60" />
  <add key="Auditoria"          value="000.60,000.61"/>
  <!-- AJUSTES-->
  <add key="Ajustes"            value="000.30,000.40,000.50" />
  <!-- ADMINISTRACIÓN-->
  <add key="Participante"       value="000.30,000.70,000.61" />
  <add key="Administracion"     value="000.70" />
  <add key="Zona"               value="000.70" />
  <add key="Localidad"          value="000.70" />
  <add key="Compañia"           value="000.70" />
  <add key="ActividadEconomica" value="000.70" />
  <add key="Amparo"             value="000.70" />
  <add key="AntiguedadxNivel"   value="000.70" />
  <add key="BaseMoneda"         value="000.70,000.30" />
  <add key="BasexParticipante"  value="000.70" />
  <add key="Beneficiario"       value="000.70" />
  <add key="Canal"              value="000.70" />
  <add key="Categoria"          value="000.70" />
  <add key="Cobertura"          value="000.70" />
  <add key="EscalaNota"         value="000.70" />
  <add key="FactorVariable"     value="000.70" />
  <add key="FactorxNota"        value="000.70" />
  <add key="GrupoEndoso"        value="000.70" />
  <add key="GrupoTipoEndoso"    value="000.70" />
  <add key="LineaNegocio"       value="000.70" />
  <add key="Meta"               value="000.70" />
  <add key="Combo"               value="000.70" />
  <add key="Moneda"             value="000.70" />
  <add key="Nivel"              value="000.70" />
  <add key="PremiosAnteriores"  value="000.70" />
  <add key="Plan"               value="000.70" />
  <add key="Producto"               value="000.70" />
  <add key="ParticipacionDirector"  value="000.70" />
  <add key="Participacion"      value="000.70" />
  <add key="Ramo"               value="000.70" />
  <add key="Red"                value="000.70" />
  <add key="Banco"                value="000.70" />
  <add key="RamoDetalle"        value="000.70" />
  <add key="ProductoDetalle"    value="000.70" />
  <add key="Segmento"           value="000.70" />
  <add key="TipoEndoso"         value="000.70" />
  <add key="Variable"           value="000.70" />
  <add key="P_P_Vida"           value="000.70" />
  <add key="P_P_Capi"           value="000.70" />
  <add key="SalarioMinimo"      value="000.70" />
  <add key="IngresoLocalidad"   value="000.70" />
  <add key="LogIntegracionBz"   value="000.70" />
  <add key="ParametrosApp"      value="000.70" />
  <add key="PersistenciaCAPIDetalle" value="000.70" />
  <add key="ProcesoAutomatico" value="000.70" />
  <add key="PeriodoCierre" value="000.70"/>
  <add key="ParametrizacionEficienciaARL" value="000.70"/>
  <add key ="Estadisticas" value="000.70"/>
  <add key ="AuditoriaSeguimiento" value="000.70"/>
  <add key ="actualizaClave" value="000.70"/>
  
  <!-- COMISIONES-->
  <add key="CalculoComision" value="000.81" />
  <add key="ComisionFija" value="000.84" />
  <add key="ComisionVariable" value="000.84" />
  <add key="MatrizComisionVariable" value="000.84" />
  <add key="ExcepcionesComision" value="000.84" />
  <add key="Extraccion" value="000.80" />
  <add key="Modelos" value="000.84" />
  <add key="Inicio" value="000.80" />
  <add key="CalculoUsuarios" value="000.83" />
  <add key="Reportes" value="000.82"/>
  <add key="ConsultaParametrizacion" value="000.83"/>
  <add key ="Asesores" value="000.85"/>
  <add key ="Consultas" value="000.86"/>
  <add key="Parametrizacion" value="000.84"/>
  <add key="AdminComision" value="000.87"/>

  <!-- SEGURIDAD-->
  <add key="SiteMapAdministration" value="000.90,000.901" />
  <add key="UserAdministration" value="000.90,000.901" />
</appSettings>
