<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!--file="Rutas.config"-->
    <add key="WsMvcSQLSitemapProvider" value="http://pro-aplnetsai.uinversion.colpatria.com:4090/Autenticacion/MvcSQLSitemapProvider.asmx?wsdl"
          xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="RutaArchivos" value="E:\\SAI\\CargueSAI\\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ReportServerUrl" value="http://pro-etlrptui.uinversion.colpatria.com:4102/ReportServer_RPT2008" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="URLSite" value="http://pro-presnetsai.uinversion.colpatria.com:4090/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Ambiente" value="Producción"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="FTPReportes" value="ftp://pro-ftpui/FTPSAI/SalidaSAI/Reportes" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <machineKey validationKey="68D6BF5610B307ABAB5DEBD17D161F86793379F7AF21B8F33F8FFD58F766E6D352B17A51B0500C40B60BC4D855C822440EF595318B9E76A8E6D6DA6563E79C77"
      decryptionKey="CE13517D64900C30FFBA443D3D55702A22272BD127AA268D" validation="SHA1" xdt:Transform="Replace" />

    <sessionState mode="StateServer" stateConnectionString="tcpip=pro-sesnetsai.uinversion.colpatria.com:4090" timeout="20" xdt:Transform="Replace" />
    <!--xdt:Locator="Match(mode)"-->

    <membership defaultProvider="WebServiceMembershipProvider" userIsOnlineTimeWindow="20">
      <providers>
        <clear />
        <add name="WebServiceMembershipProvider" type="ColpatriaSAI.Seguridad.Proveedores.WebServiceMembershipProvider" enablePasswordRetrieval="false" enablePasswordReset="true"
             requiresQuestionAndAnswer="true" passwordFormat="Clear" applicationName="/" remoteProviderName="AspNetSqlMembershipProvider"
             roleProviderUri="http://pro-aplnetsai.uinversion.colpatria.com:4090/Autenticacion/MembershipProvider.asmx" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      </providers>
    </membership>

    <roleManager defaultProvider="WebServiceRoleProvider" enabled="true">
      <providers>
        <clear />
        <add applicationName="/" name="WebServiceRoleProvider" type="ColpatriaSAI.Seguridad.Proveedores.WebServiceRoleProvider" remoteProviderName="AspNetSqlRoleProvider"
             roleProviderUri="http://pro-aplnetsai.uinversion.colpatria.com:4090/Autenticacion/RoleProvider.asmx" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      </providers>
    </roleManager>
  </system.web>

  <system.net>
    <mailSettings xdt:Transform="Replace">
      <smtp deliveryMethod="Network">
        <network host="mainlb02-bogt09" port="465" enableSsl="true" userName="sai@ui.colpatria.com" password="xxxxx" />
      </smtp>
    </mailSettings>
  </system.net>

  <system.serviceModel>
    <client>
      <endpoint address="http://pro-aplnetsai.uinversion.colpatria.com:4090/Autenticacion/Administracion.svc" xdt:Transform="Replace" xdt:Locator="Match(name)"
        behaviorConfiguration="Administracion" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IAdministracion" contract="AdministracionSvc.IAdministracion"
        name="BasicHttpBinding_IAdministracion" />
      <endpoint address="http://pro-aplnetsai.uinversion.colpatria.com:4090/Autenticacion/Autenticacion.svc" xdt:Transform="Replace" xdt:Locator="Match(name)"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthenticacion"
        contract="Autenticacion.IAuthenticacion" name="BasicHttpBinding_IAuthenticacion" />
      <endpoint address="http://pro-aplnetsai.uinversion.colpatria.com:4090/Autenticacion/Logging.svc" xdt:Transform="Replace" xdt:Locator="Match(name)"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILogging"
        contract="LoggingSvc.ILogging" name="BasicHttpBinding_ILogging" />
      <endpoint address="http://pro-aplnetsai.uinversion.colpatria.com:4090/Autenticacion/EjecucionETLs.svc" xdt:Transform="Replace" xdt:Locator="Match(name)"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEjecucionETLs"
        contract="EjecucionETLs.IEjecucionETLs" name="BasicHttpBinding_IEjecucionETLs" />
    </client>
  </system.serviceModel>

</configuration>
