# --- Visual Studio ---
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# --- Compilados / artefactos ---
[Bb]in/
[Oo]bj/
[Ll]og/
app.publish/
**/Properties/PublishProfiles/*

# --- Test ---
[Tt]est[Rr]esults/
*.trx
*.coverage*
*.coveragexml

# --- NuGet ---
packages/
*.nupkg
# Si usas packages.config y quieres conservar repositories.config, descomenta:
# !packages/repositories.config

# --- Resharper / Rider / JetBrains ---
_ReSharper*/
*.DotSettings.user
.idea/

# --- Otros temporales ---
*.db
*.dbmdl
*.pdb
*.cache
*.tmp
*.svclog
*.scc
*.rdl.data

# --- OS ---
.DS_Store
Thumbs.db
