.view-matrix-point 
{
    font-size:x-small;
    margin:2px; 
    border: 1px solid;
    width:120px;
}
.form-matrix-point
{    
    font-size:small;
    margin-top:10px;
    margin-bottom:10px;
}
.view-matrix-inf-point
{
    margin-top:5px;
    padding-left:5px;
    
}