.load h4:before {
    content: "";
    display: block;
    background: transparent;
    background: url("../../images/site/loader.gif");
    width: 120px;
    height: 120px;
    left: -30px;
    top: -140px;
    position: absolute;
    filter: alpha(opacity=100) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
    -ms-transform: scale(1,1);
}

.placa:before {
    content: "Placa de tu vehículo";
    color: #fff;
    display: block;
}


